<% 
  const { htmlFileName, outputName, arrChunkNames, isDevEnv } = require('./config/html-template-variable.config.js')(htmlWebpackPlugin);
%>
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>제목</title>
  <link rel="stylesheet" href="./css/vendors/swiper-3.3.1.min.css">
  <% if (!isDevEnv) { 
      for (const i in arrChunkNames) {
  %>
    <link rel="stylesheet" href="./css/<%= arrChunkNames[i] %>.css">
  <% 
      }
    } 
  %>
  <% if (isDevEnv) { %><script src="./js-dev/<%= outputName %>.js"></script><% } %>
</head>
<body>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <video width="320" height="240" controls>
          <source src="<%= require('./src/media/media_sample_mp4.mp4') %>" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="swiper-slide img jpg"><img src="<%= require('./src/images/profile/img_sample_jpg.jpg') %>"></div>
      <div class="swiper-slide img png"></div>
      <div class="swiper-slide img gif"><img src="<%= require('./src/images/img_sample_gif.gif') %>"></div>
      <div class="swiper-slide img svg"><img src="<%= require('./src/images/img_sample_svg.svg') %>" /></div>
    </div>
  </div>

  <script src="./js/vendors/jquery-1.8.3.min.js"></script>
  <script src="./js/vendors/swiper-3.3.1.min.js"></script>
  <script src="./js/sample-script.js"></script>
  <script>
    var mySwiper = new Swiper('.swiper-container', {
        speed: 400,
        spaceBetween: 100
    });
  </script>
</body>
</html>