/// 색상 정보
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;

/// 배경색상
$background: $white-ter !default;

/// 테두리 색상
$border: $grey-lighter !default;
$border-hover: $grey-light !default;

/// 사이즈 리스트맵
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;
