/// 프로젝트별 초기화 덮어쓰기

/// 기본 폰트 설정 덮어쓰기
$font-family: BlinkMacSystemFont, -apple-system, "Apple SD Gothic Neo", "Helvetica Neue", "Helvetica", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/// 기본 배경색
$main-bg-color: hsl(0, 0%, 96%);

/// 기본 폰트 색상
$main-color: #1c1e21;

/// 기본 여백
$global-margin: 20px;