/* reset */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
bdi,
bdo,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
map,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
rp,
rt,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
summary,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video{
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  vertical-align: baseline;
}

body{
  -webkit-text-size-adjust: none;
}
input,
select,
textarea{
  color: #000;
  padding: 0;
  margin: 0;
}

legend,
caption,
hr{
  display: none;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}



